:root {
  /* Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --just-white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--just-white);
  background-image: url('../assets/images/bg-pattern-top-mobile.svg'), url('../assets/images/bg-pattern-bottom-mobile.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
}

/***** HEADER *****/
header{
  padding-top: 5rem;
  padding-bottom: 2.8125rem;
}

header h1{
  font-size: 30px;
  font-weight: 700;
  color: var(--very-dark-magenta);
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 2.1875rem;
}

header p{
  color:var(--dark-grayish-magenta);
  width: 90%;
  text-align: center;
  margin: auto;
}

/***** SECTION STARS *****/
.section_stars_rated{
  padding-bottom: 2.8125rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

.stars_rated{
  margin-bottom: 0.9375rem;
  padding: 1.25rem 0;
  background-color: var(--light-grayish-magenta);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars_rated h4{
  padding-top: 0.625rem;
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 16px;
}

/***** SECTION CARDS *****/
.cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card{
  background-color:var(--very-dark-magenta);
  width: 90%;
  max-width: 21.875rem;
  margin-bottom: 1.25rem;
  padding: 2.1rem 1.5625rem;
  border-radius: 10px;
}

.card img{
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
}

.header_card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_text_card{
  padding-left: 1.25rem;
  padding-bottom: 0.3125rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header_text_name{
  color: var(--just-white);
  font-weight: 500;
}

.header_text_verified{
  padding-top: 0.625rem;
  color: var(--soft-pink);
}

.cards_text{
  padding-top: 2.1875rem;
  color: var(--light-grayish-magenta);
}

/***** FOOTER *****/
.attribution {
  padding: 1.25rem 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/***** MEDIA QUERIES *****/
@media screen and (min-width: 500px) {

  .stars_rated{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 28.125rem;
  }

  .stars_rated h4{
    padding: 0;
  }

  .stars_one{
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .stars_two{
    -ms-flex-item-align: center;
        align-self: center;
  }

  .stars_three{
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .card{
    margin: 0 0.9375rem 1.25rem 0.9375rem;
  }
}
@media screen and (min-width: 900px) {
  body{
    background-image: url('../assets/images/bg-pattern-top-desktop.svg'), url('../assets/images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
  }

  .container{
    margin: 3rem auto 0 auto;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 15px;
  }

  header{
    grid-column: 1/6;
  }

  .section_stars_rated{
    grid-column: 6/-1;
    padding-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 2.8125rem;
  }

  .cards{
    margin-top: 1.875rem;
    grid-column: 1/-1;
  }

  footer{
    grid-column: 1/-1;
  }
  
}

@media screen and (min-width: 1230px) {
  header h1{
    font-size: 45px;
  }
  .cards{
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 21.25rem;
  }

  .card{
    margin-bottom: 0;
  }

  .card_one{
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .card_two{
    -ms-flex-item-align: center;
        align-self: center;
  }

  .card_three{
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .attribution{
    margin-top: 3em;
  }
}